{% extends "main/wrapper.html" %}
{% block content %}
    <div id="question">
        <h3>{{ question.question }}</h3>
        <br>

        {% for answer in answers %}
            <div class="form-check">
                <input type="radio" class="form-check-input" name="radio_answer" id="radio_{{ forloop.counter0 }}" onchange="updateForm({{ answer.id }})">
                <label class="form-check-label" for="radio_{{ forloop.counter0 }}">{{ answer.answer }}</label>
            </div>
        {% endfor %}

        <form method="post" id="update_answer_form">
            {% csrf_token %}
            <input type="hidden" name="answer_id" id="update_form_answer_id">
        </form>
    </div>
{% endblock %}
