{% extends "main/wrapper.html" %}
{% block content %}
    <div class="center" align="center">
        <h1 style="font-weight: 900;">Привет! ;)</h1>
        <h5>На нашем сервере более 300 заклинаний, <br>и нам нужно Ваше мнение о них.</h5>
        <br>
        <h5>Предлагаем Вам пройти опрос, который <br>поможет нам улучшить существующие заклинания. <br>Убедительная просьба пройти его до конца.</h5>
        <br>
        <a href="/quiz/1/" class="btn btn-ms">Пройти опрос</a>
    </div>
{% endblock %}
