<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MagicStore - {% if title %}{{ title }}{% else %}Опрос{% endif %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}?1" />
</head>
<body style="background-image: url({% static "img/background.png" %}); background-repeat: repeat;">
    {% block content %}
    {% endblock %}
</body>
    {% block scripts %}
    {% endblock %}
</html>
